<navbar params="{{params}}"></navbar>

<div v-show="!params.contents.response"><br>Loading...</div>

<div class="row" v-show="params.contents.response">
	<div class="col-md-4">
		<span class="h1" v-if="params.contents.response">{{ params.contents.response.title }}</span>
		<a class="pull-right btn btn-default" href="#/content/{{ params.contentId }}/settings"><span class="octicon octicon-tools"></span></a>
	</div>
</div>

<manager v-if="params.contents.response" params="{{params}}"></manager>


<pre>
{{ params | json 4 }}
</pre>
